services:
  app:
    build: .
    image: linkedin-job-scraper
    restart: unless-stopped
    entrypoint: /app/entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8887:8887"

    extra_hosts:
      - "host.docker.internal:host-gateway"

    env_file:
        - .env_docker

  celery:
    image: linkedin-job-scraper
    restart: unless-stopped
    depends_on:
      - app
    command: celery -A linkedin worker --loglevel=info
    volumes:
      - .:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"

    env_file:
        - .env_docker
  celery-beat:
    image: linkedin-job-scraper
    restart: unless-stopped
    depends_on:
      - app
    command: celery -A linkedin beat --loglevel=warning
    volumes:
      - .:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"

    env_file:
        - .env_docker


