<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Listings</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include the Bootstrap CSS -->
    <style>
        .new-row,
        .viewed-row,
        .applied-row,
        .ignored-row {
            max-height: 30px; /* Set your desired maximum height here */
            overflow: hidden; /* Hide any overflow content */
        }

        /* Conditional styling based on job status */
        .new-row {
            background-color: #f8f9fa; /* Light gray */
        }

        .viewed-row {
            background-color: #ffeeba; /* Light yellow */

        }

        .applied-row {
            background-color: #d4edda; /* Light green */
        }

        .ignored-row {
            background-color: #f8d7da; /* Light red */
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" id="searchInput" class="form-control mr-2" placeholder="Search..."
                       style="max-width: 400px;" value="{{ request.GET.keywords|default_if_none:'' }}"
                       onkeydown="handleSearch(event)">
                <div class="input-group-append">
                    <button class="btn btn-primary mr-2" onclick="searchJobs()">Search</button>
                </div>
            </div>
            <p style="font-size: larger;">Total Jobs: {{ count }}</p>

            {% if user.is_authenticated %}
            <button class="btn btn-primary mr-2" onclick="selectAll()">Select All</button>
            <button class="btn btn-primary mr-2" onclick="changeStatus(null, '3')">Mark as Applied</button>
            <button class="btn btn-primary mr-2" onclick="changeStatus(null, '4')">Mark as Ignored</button>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Company</th>
                    <th>Title</th>
                    <th>City</th>
                    <th>Applies</th>
                    <th style="white-space: nowrap;">Work Type</th>
                    <th>Status</th>
                    <th style="white-space: nowrap;">Modified Date</th>
                </tr>
                </thead>
                <tbody>
                {% for job in results %}
                <tr class="{% if job.status == '2' %}viewed-row{% elif job.status == '3' %}applied-row{% elif job.status == '4' %}ignored-row{% else %}new-row{% endif %}"
                    data-job-id="{{ job.id }}">
                    <td style="text-align: center;">
                        <input type="checkbox" name="job-select" value="{{ job.id }}"
                               style="transform: scale(1.3); margin-right: 5px;">
                    </td>
                    <td style="white-space: nowrap;">
                        {% if job.company.logo %}
                        <img src="{{ job.company.logo }}" alt="{{ job.company.name }} Logo" style="max-width: 30px;">
                        {% endif %}
                        <span style="margin-left: 5px;">{{ job.company.name }}</span>
                    </td>
                    <td>
                        <a href="{{ job.url }}" onmousedown="makeViewed(this, '{{ job.id }}',  '{{ job.status }}')"
                           target="_blank">{{ job.title }}</a>
                    </td>
                    <td style="white-space: nowrap;">{{ job.city.name }}</td>
                    <td>{{ job.applies }}</td>
                    <td style="white-space: nowrap;">{{ job.work_type }}</td>
                    <td style="white-space: nowrap;">{{ job.status }}</td>
                    <td style="white-space: nowrap;">{{ job.modified_at|date:"j F" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row mt-3 justify-content-center">
                <div class="col-auto">
                    {% if first %}
                    <a href="{{ first }}" class="btn btn-primary mr-2">First</a>
                    {% else %}
                    <button class="btn btn-primary mr-2" disabled style="opacity: 0.3; pointer-events: none;">First
                    </button>
                    {% endif %}
                </div>
                <div class="col-auto">
                    {% if previous %}
                    <a href="{{ previous }}" class="btn btn-primary mr-2">Previous</a>
                    {% else %}
                    <button class="btn btn-primary mr-2" disabled style="opacity: 0.3; pointer-events: none;">Previous
                    </button>
                    {% endif %}
                </div>
                <div class="col-auto">
                    {% if next %}
                    <a href="{{ next }}" class="btn btn-primary">Next</a>
                    {% else %}
                    <button class="btn btn-primary" disabled style="opacity: 0.3; pointer-events: none;">Next</button>
                    {% endif %}
                </div>
                <div class="col-auto">
                    {% if last %}
                    <a href="{{ last }}" class="btn btn-primary mr-2">Last</a>
                    {% else %}
                    <button class="btn btn-primary mr-2" disabled style="opacity: 0.3; pointer-events: none;">Last
                    </button>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    function selectAll() {
        var checkboxes = document.querySelectorAll('input[name="job-select"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = !checkbox.checked;
        });
    }

    function changeStatus(jobIds, status) {
        // Send a POST request to update the status of selected jobs
        if (!jobIds) {
            jobIds = [];
            document.querySelectorAll('input[name="job-select"]:checked').forEach(function (checkbox) {
                jobIds.push(checkbox.value);
                checkbox.checked = false;
            });
        }
        if (!jobIds.length) {
            return;
        }
        fetch('/api/jobs/bulk_update_status/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                job_ids: jobIds,
                status: status
            })
        }).then(function (response) {
            if (response.ok) {
                // If the request is successful, update the UI for each selected job
                jobIds.forEach(function (jobId) {
                    var row = document.querySelector(`tr[data-job-id="${jobId}"]`);
                    if (row) {
                        switch (status) {
                            case '2':
                                row.className = 'viewed-row';
                                row.querySelector('td:nth-child(7)').textContent = 'Viewed';
                                break;
                            case '3':
                                row.className = 'applied-row';
                                row.querySelector('td:nth-child(7)').textContent = 'Applied';
                                break;
                            case '4':
                                row.className = 'ignored-row';
                                row.querySelector('td:nth-child(7)').textContent = 'Ignored';
                                break;
                            default:
                                break;
                        }
                    }
                });
            }
        });
    }

    function makeViewed(element, jobId, status) {
        if (status === 'New') {
            changeStatus([jobId], '2');
        }
    }

    function searchJobs() {
        const keywords = document.getElementById('searchInput').value;
        let searchUrl; // Declare searchUrl variable outside the block

        if (keywords === '') {
            searchUrl = '/';
        } else {
            searchUrl = '/?keywords=' + encodeURIComponent(keywords);
        }

        window.location.href = searchUrl;
    }

    function handleSearch(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            searchJobs();
        }
    }

</script>

</body>
</html>
